body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.page-content {
    section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    #disc {
        .disc {
            z-index: 2;
            
            img {
                margin-top: -46px;
            }
            
            div {
                padding-left: 28px;
                padding-right: 28px;
                padding-bottom: 37px;
                margin-top: -220px;
                position: absolute;

                h1 {
                    color: #FFF;
                    font-family: Outfit;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 133.5%;
                    letter-spacing: -0.48px;
                }

                p {
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px; /* 186.667% */
                }
            }
        }
    }

    #hero-carousel {
        .carousel-inner {
            .carousel-item {
                img {
                    width: 100%;
                    height: 100vh;
                    background-position: center;
                    object-fit: cover;
                    background-repeat: no-repeat;
                }

                .carousel-caption {
                    text-align: left;
                    bottom: 30%;

                    h5 {
                        color: #FFF;
                        font-family: DM Sans;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.51px;
                        text-transform: uppercase;
                    }

                    h2 {
                        color: #FFF;
                        font-family: DM Sans;
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.92px;
                        padding-top: 14px;
                        padding-bottom: 21px;
                    }

                    p {
                        color: #FFF;
                        font-family: DM Sans;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 23px;
                    }
                }
            }
        }

        .carousel-indicators {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            button {
                border-radius: 100%;
                background-color: transparent;
                border: 1px solid #fff;
                width: 10px;
                height: 10px;

                &.active {
                    background-color: #fff;
                }

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }

    #what {
        .title {
            color: var(--Text-Color, #051441);
            font-family: Outfit;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 133.5%;
            letter-spacing: -0.48px;
        }

        .description {
            color: #666;
            font-family: Manrope;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 34px;
        }

        .what-img {
            margin-top: 58px;
        }

        .what-bottom {
            padding-top: 94px;

            .left {
                h1 {
                    color: var(--Text-Color, #051441);
                    font-family: Outfit;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 133.5%;
                    letter-spacing: -0.48px;
                }
            }

            .right {
                margin-top: 20px;

                .border-line {
                    background: #2C73FD;
                    width: 165px;
                    height: 10px;
                }

                p {
                    color: #666;
                    font-family: Manrope;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin-top: 31px;
                    margin-bottom: 27px;
                }

                span {
                    color: #000;
                    font-family: Manrope;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                }
            }
        }
    }

    #best {
        background: #1D1828;

        .top {
            .left {
                .description {
                    h4 {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%;
                    }

                    .border-line {
                        width: 165px;
                        height: 10px;
                        background: #F90;
                        margin-left: 210px;
                        margin-top: -10px;
                    }
                }

                p {
                    margin-top: 17px;
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    opacity: 0.7;
                }
            }

            .right {
                h1 {
                    color: #EEE;
                    text-align: right;
                    font-family: Outfit;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 133.5%;
                    letter-spacing: -0.48px;
                }
            }
        }

        .bottom {
            margin-top: 80px;

            .left {
                #accordionFaq {
                    border: none;
                    --bs-accordion-bg: transparent;
                    --bs-accordion-border-color: transparent;
    
                    .accordion-item {
                        border-bottom: 1px solid #535353;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        &:first-of-type {
                            padding-top: 0;
                        }

                        &:last-of-type {
                            border-bottom-right-radius: 0;
                            border-bottom-left-radius: 0;
                        }
    
                        .accordion-header {
                            button {
                                padding-left: 0;
                                background: transparent;
                                color: #FFF;
                                font-family: Manrope;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 28px;
    
                                &:focus {
                                    border-color: transparent;
                                    box-shadow: none;
                                }
    
                                &:after {
                                    --bs-accordion-btn-icon-width: .8rem;
                                    --bs-accordion-btn-icon: url('../../../assets/images/icons/arrow.svg');
                                }
    
                                &:not(.collapsed)::after {
                                    --bs-accordion-btn-active-icon: url('../../../assets/images/icons/arrow.svg');
                                }
                            }
                        }
    
                        .accordion-collapse {
                            .accordion-body {
                                padding-left: 0;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                color: #FFF;
                                font-family: Manrope;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 28px;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }

            .right {
                position: absolute;
                right: 0;

                .wrapper {
                    margin-left: 170px;
                    overflow-x: scroll;
                    white-space: nowrap;
                    
                    &::-webkit-scrollbar {
                        height: 0;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: #999;
                        border-radius: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb:hover {
                        background: #888;
                    }

                    img {
                        width: 452px;
                        height: auto;

                        &:not(&:first-child) {
                            margin-left: 32px;
                        }
                    }

                    .controls {
                        display: flex;
                        align-items: center;
                        top: 50%;
                        right: 300px;
                        position: absolute;

                        #prevButton {
                            transform: rotate(180deg);
                            margin-right: 10px;
                        }

                        #prevButton,
                        #nextButton {
                            &:active {
                                border: none;
                            }

                            &:focus-visible {
                                outline: none;
                            }
                        }
    
                        button {
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            padding: 10px;
                            border-radius: 100%;
                            background: rgba(255, 255, 255, 0.40);
                            cursor: pointer;

                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }

            }
        }
    }

    #artist {
        background: #F6F6F6;

        .top {
            .left {
                .title {
                    color: var(--Text-Color, #051441);
                    font-family: Outfit;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 133.5%;
                    letter-spacing: -0.48px;
                }
    
                .description {
                    color: #666;
                    font-family: Manrope;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin-top: 24px;
                }
            }

            .right {
                display: flex;
                justify-content: end;

                button {
                    color: #2C73FD;
                    font-family: Manrope;
                    font-size: 17.317px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24.244px;
                    padding: 16px 38px;
                    border: 1.7px solid #2C73FD;
                }
            }
        }

        .bottom {
            padding-top: 45px;

            .left-img {
                img {
                    &:nth-child(2) {
                        margin-top: 10px;
                    }
                }
            }

            .right {
                display: block;

                div {
                    display: flex;
                    
                    .left {
                        display: block;

                        div {
                            img {
                                display: block;
                                width: 108px;
                                height: 107px;
                            }
                        }
        
                        .border-line {
                            display: flex;
                            justify-content: center;
    
                            .line-bottom,
                            .line-top {
                                background: #F90;
                                height: 42px;
                                width: 4px;
                            }

                            .line-bottom {
                                margin-top: 12px;
                            }

                            .line-top {
                                margin-bottom: 12px;
                            }
                        }
                    }
        
                    .right {
                        margin-left: 34px;
                        display: block;
    
                        h5 {
                            color: #000;
                            font-family: Manrope;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 28px;
                        }
    
                        p {
                            color: #666;
                            font-family: Manrope;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 28px;
                            margin-top: 20px;
                        }
                    }
                }

                .middle,
                .last {
                    .right {
                        margin-top: 50px;
                    }
                }
            }
        }
    }

    #contact {
        background: #F6F6F6;

        .container-xl {
            border: 4px solid #2C73FD;
            padding-top: 36px;
            padding-bottom: 36px;
            padding-left: 89px;
            padding-right: 36px;

            .left {
                padding-right: 60px;

                h1 {
                    color: var(--Text-Color, #051441);
                    font-family: Outfit;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 133.5%;
                    letter-spacing: -0.48px;
                }

                p {
                    color: #666;
                    font-family: Manrope;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin-top: 24px;
                    margin-bottom: 35px;
                }

                form {
                    padding: 36px 32px;
                    background: #fff;

                    .input-group {
                        border: 1.7px solid rgba(102, 102, 102, 0.29);

                        .input-group-text {
                            border: none;
                            background-color: #fff;
                            padding: 20px 24px;
                        }

                        .form-control {
                            padding: 20px 24px;
                            border: none;
                            padding-left: 0;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    button {
                        color: #2C73FD;
                        font-family: Manrope;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        border: 1.7px solid #2C73FD;
                        background: #FFF;
                        padding: 16px 30px;
                    }
                }
            }

            .right {
                img {
                    width: 100%;
                    height: 635px;
                }
            }
        }
    }
}

footer {
    padding-top: 115px;
    padding-bottom: 50px;
    background: #1D1828;

    .left {
        .title {
            color: #FFF;
            font-family: Poppins;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
        }
        
        p {
            color: #FFF;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            padding-top: 36px;
            padding-bottom: 36px;
            opacity: 0.6;
        }

        .d-flex {
            a {
                color: #FFF;
                text-align: right;
                font-family: DM Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                opacity: 0.8;

                &:not(:first-child) {
                    margin-left: 25px;
                }
            }
        }
    }

    .right {
        form {
            h4 {
                color: #FFF;
                font-family: Manrope;
                font-size: 19px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 20px;
            }

            .input-group {
                width: 380px;
                display: flex;
                align-items: center;
                border: 1.7px solid rgba(255, 255, 255, 0.29);

                .form-control {
                    padding: 13px 24px;
                    flex: 1;
                    background-color: transparent;
                    border: none;
                    color: #666;

                    &::-webkit-input-placeholder,
                    &::placeholder {
                        color: #666;
                        font-family: Manrope;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
                
                .input-group-append {
                    margin-right: 5px;

                    .btn {
                        padding-top: 13px 16px;
                        background: #2C73FD;
                        border-radius: 0;
                        color: #FFF;
                        font-family: Manrope;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24.244px;
                    }
                }
            }
        }
    }

    hr {
        margin-top: 36px;
        height: 2px;
        background-color: #4D4D4D;
    }

    .copyright {
        padding-top: 30px;
        align-items: center;

        span {
            color: #FFF;
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }

        img {
            width: 26px;
            height: 26px;

            &:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
}